* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #6a98c0;
    --secondary: #e9d75f;
    --terciary:  #e95f5f;
    --terciary-dark: #cc3333;
}




/*********************ESTILOS MODAL INICIO***********************/


.modal-instrucciones , .modal-ganaste {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.modal-ganaste img {
    margin-top: 20px;
    max-width: 500px;
    border-radius: 10px;
}

.title-ganaste {
    font-size: 4rem;
    text-decoration: underline;
}

.modal-contenido {   
    position: relative;
    color: var(--secondary);
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    text-align: center;
    background-image: url(image/fondomadera.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    text-shadow: 2 10px 25px rgba(0, 0, 0, 0.8);
    transform: scale(1);
    transition: transform 0.3s ease-out;
    font-size: 2.6rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.modal-contenido p {
    padding: 5px;
}

.modal-contenido-ganaste {
    display: flex;
    width: 1000px;
    padding: 30px;
}

.hidden {
    display: none;
}

.btn-principal {
    background-color: var(--secondary);
    color: var(--terciary);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.2s;
}

.btn-principal:hover {
    background-color: var(--terciary);
    border: var(--secondary);
    color: var(--secondary);
}





/*********************BODY*************************/


body {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    background-image: url(image/fondo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

.title-cards__labtica {
    margin: 20px auto;
    padding: 20px;
    font-size: 1.2rem;
    font-family: Georgia;
    color: rgba(221, 255, 0, 0.822);;
    box-shadow: 0 10px 25px rgba(221, 255, 0, 0.822);
    border-radius: 50px;
    background-color: transparent
}

.main-container {
    position: relative;
    display: flex;
    width: max-content;
    justify-content: space-around;   
    padding: 50px;
}

.cards-container {  
    height: 80vh;  
    display: grid; 
    grid-template-columns: repeat(4, 1fr);     
    grid-template-rows: repeat(4, 1fr); 
    grid-auto-rows: minmax(auto, 1fr);
    gap: 10px; 
    max-width: 600px; 
    padding: auto;     
    perspective: 1000px;
    margin:0 20px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 140px;
    height: 170px;
    border-radius: 10px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;   
    animation-name: bounceInRotate;
    animation-duration: 0.8s; /* Un poco m치s larga para que el rebote se note */
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Curva de rebote profesional */
    animation-fill-mode: backwards;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card-front {
    text-justify:end;
    color: var(--terciary); 
    background-image: url(image/fondofront1m.png);   
    background-repeat: no-repeat;
    background-size: cover;
}

.card-back {
    background-color: var(--secondary);
    transform: rotateY(180deg);
}

.card-front, .card-back {    
    display: flex;    
    justify-content: center;
    position: absolute;
    width: 140px;
    height: 170px;
    border-radius: 10px;
    cursor: pointer;    
    backface-visibility: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;   
}

.card:active {
   transform: rotateY(180deg);
   transition: transform 0.5s ease-in-out;   
}

@keyframes bounceInRotate {
    0% {
        opacity: 0;
        transform: scale(0.3) rotateZ(-15deg); /* Inicia peque침a y ligeramente girada */
    }
    50% {
        opacity: 1;
        transform: scale(1.1) rotateZ(5deg); /* Crece m치s de lo normal (el rebote) y gira al otro lado */
    }
    100% {
        transform: scale(1) rotateZ(0); /* Estado final: tama침o normal y sin giro */
    }
}


.status-indicators {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
    align-items: center;
    padding: 20px;
    background-image: url(image/fondopizza.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: var(--secondary);
}

.status-top {
    display: flex;
    flex-direction: row;
}

.timer {
    display: flex;
    flex-direction: row;
}

.status-indicators p, .status-indicators span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;    
}

.text-shadow {
    text-shadow: 1px 1px 0px #040404;;
}

.status-indicators p {
    font-size: 1.2rem;
}

.status-indicators span {
    width: 100px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px auto;
}

.status-text {
    color: black;
}

.btn-restart {
    width: 200px;
    height: 100px;
    padding: 5px;
    position: absolute;
    bottom: 50px;
    right: 100px;
    margin: 10px auto;
    border-radius: 50%;
    border-width: 0.5px;  
    background-color: var(--terciary-dark);
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 8px 0 var(--terciary-dark); 
    cursor: pointer;
}

.btn-restart-ganaste {
    bottom: 30px;
    left: 140px;
    color: var(--terciary-dark);
    background-color: var(--secondary);
    box-shadow: 0 10px 0 var(--secondary); 
    border-color:#e9d75f;
    margin: 10px;
}

.btn-restart:hover,
.btn-restart:active {   
    transform: translateY(6px);   
    box-shadow: 0 0 0 var(--terciary-dark); 
}


/********************VISTA PANTALLAS MENOS A 1000 PX**********/


@media (max-width: 1000px) {

body {
    background-image: url(image/fondo1m.png);
}

.title-ganaste {
    font-size: 0.8rem;
    padding-bottom: 5px;
}

.modal-contenido {   
    font-size: 0.8rem;
    background-image: url(image/fondomaderam.jpg);
}    

.modal-contenido p {   
    padding: 0;
}    
.modal-contenido-ganaste {
    padding: 20px 10px ;
}

.modal-ganaste img {
    margin: 0;
    max-width: 120px;   
}

.btn-restart-ganaste {
    left: 70px;
}

.title-cards__labtica {   
    font-size: 0.6rem;
    text-align: center;  
}

.main-container {
    flex-direction: column;    
    align-items: center;
    padding: 10px;    
}

.cards-container {  
    height: max-content;
    gap: 5px; 
    max-width: max-content;  
    margin-bottom: 20px; 
}

.card, .card-front, .card-back {
    width: 70px;
    height: 120px;
    font-size: 0.4rem;
}

.status-indicators {
    padding: 10px;
    width: 150px;
}

.status-indicators p {
    font-size: 0.4rem;
}

.status-indicators span {
    width: 40px;
    margin: 0 10px;
}

.btn-restart {
    width: 50px;
    height: 25px;
    margin: 5px;
    font-size: 0.4rem;
    bottom: 10px;
    right: 30px;
    background-color: var(--secondary);
    box-shadow: 0 4px 0 var(--secondary); 
}

}