* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #6a98c0;
    --secondary: #e9d75f;
    --terciary:  #e95f5f;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
}

.title-cards__labtica {
    padding: 20px;
    font-size: 1.2rem;
    font-family: Georgia;
}

.main-container {
    display: flex;
    max-height: 100vh;
    justify-content: space-around;
    padding: 50px;
}

.cards-container {  
    height: 80vh;  
    display: grid; 
    grid-template-columns: repeat(4, 1fr);     
    grid-template-rows: repeat(4, 1fr); 
    grid-auto-rows: minmax(auto, 1fr);
    gap: 10px; 
    max-width: 600px; 
    padding: auto;     
    perspective: 1000px;
    margin:0 20px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 140px;
    height: 170px;
    border-radius: 10px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.matched {
    opacity: 0.8;
}

.card-front {
    background-color: var(--secondary);
}

.card-back {
    background-color: var(--secondary);
    transform: rotateY(180deg);
}

.card-front, .card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 140px;
    height: 170px;
    border-radius: 10px;
    cursor: pointer;    
    backface-visibility: hidden;
}

.card img {
  width: 60%;
}

.card:active {
   transform: rotateY(180deg);
   transition: transform 0.5s ease-in-out;   
}

.status-indicators {
    display: flex;
    flex-direction: column;
    height: max-content;
    align-items: center;
    padding: 20px;
    background-color: var(--terciary);
    border-radius: 10px;
}

.status-indicators p, .status-indicators span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;    
}

.status-indicators p {
    font-size: 1.2rem;
}

.status-indicators span {
    width: max-content;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px auto;
}

.btn-restart {
    padding: 5px;
    margin: 5px auto;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}

.btn-restart:hover {
   transform: rotate(10deg);
   transition: transform 0.3s ease-in-out;
}

.instructions-paragraph {
    position: absolute;
}