* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #6a98c0;
    --secondary: #e9d75f;
    --terciary:  #e95f5f;
}




/*********************ESTILOS MODAL INICIO***********************/

.modal-instrucciones {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.modal-contenido {
    background-color: #ffffff;
    color: #333;
    padding: 30px;
    border-radius: 12px;
    max-width: 450px;
    width: 90%;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition: transform 0.3s ease-out;
}

.hidden {
    display: none;
}


.btn-principal {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.2s;
}

.btn-principal:hover {
    background-color: #0056b3;
}





/*********************BODY*************************/


body {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
}

.title-cards__labtica {
    padding: 20px;
    font-size: 1.2rem;
    font-family: Georgia;
}

.main-container {
    display: flex;
    width: max-content;
    justify-content: space-around;   
    padding: 50px;
}

.cards-container {  
    height: 80vh;  
    display: grid; 
    grid-template-columns: repeat(4, 1fr);     
    grid-template-rows: repeat(4, 1fr); 
    grid-auto-rows: minmax(auto, 1fr);
    gap: 10px; 
    max-width: 600px; 
    padding: auto;     
    perspective: 1000px;
    margin:0 20px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 140px;
    height: 170px;
    border-radius: 10px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card-front {
    background-color: var(--secondary);
}

.card-back {
    background-color: var(--secondary);
    transform: rotateY(180deg);
}

.card-front, .card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 140px;
    height: 170px;
    border-radius: 10px;
    cursor: pointer;    
    backface-visibility: hidden;
}

.card img {
  width: 60%;
}

.card:active {
   transform: rotateY(180deg);
   transition: transform 0.5s ease-in-out;   
}

.status-indicators {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
    align-items: center;
    padding: 20px;
    background-color: var(--terciary);
    border-radius: 10px;
}

.status-indicators p, .status-indicators span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;    
}

.status-indicators p {
    font-size: 1.2rem;
}

.status-indicators span {
    width: max-content;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px auto;
}

.btn-restart {
    padding: 5px;
    margin: 5px auto;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}

.btn-restart:hover {
   transform: rotate(10deg);
   transition: transform 0.3s ease-in-out;
}

@media (max-width: 600px) {
.title-cards__labtica {   
    font-size: 0.6rem;   
}

.main-container {
    flex-direction: column;    
    align-items: center;
    padding: 10px;
    
}

.cards-container {  
    height: max-content;
    gap: 5px; 
    max-width: max-content;  
    margin-bottom: 20px; 
}

.card , .card-front, .card-back {
    width: 50px;
    height: 80px;
    font-size: 0.4rem;
}

.status-indicators p {
  font-size: 0.8rem;
}


.btn-restart {
    margin: 5px;
    font-size: 0.4rem;
}



}